<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
  <%- include('partials/nav'); %>
  <h1>Welcome To Book-It</h1>
  <h2>There are <%= data.length %> books in the collection.</h2>
  <% if (!data.length) { %>
    <%- '<p>There are no books to display</p>' %>
  <% } %>
  <% data.forEach( book => { %> 
    <%- include('partials/book-header', { book: book }); %>
  <% }); %>
</body>
</html>