<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
  <%- include('partials/nav'); %>
  <h1>Welcome To Book-It</h1>
  <h2>There are <%= data.length %> books in the collection.</h2>
  <% if (!data.length) { %>
    <%- '<p>There are no books to display</p>' %>
  <% } %>
  <% data.forEach( book => { %> 
    <div class="book-header">
    <%- include('partials/book-header', { book: book }); %>
      <div class="book-button"><a href="/books/<%= book.id %>">View Details</a></div>
    </div>
  <% }); %>
  <%- include('partials/footer'); %>
</body>
</html>