<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <%- include('../partials/nav'); %>
  <h1>Add New Book Manually</h1>
  <form method="POST" action="/books">
    <%- include('../partials/form-group', { label: 'title', type: 'text' }) %>
    <%- include('../partials/form-group', { label: 'author', type: 'text' }) %>
    <%- include('../partials/form-group', { label: 'isbn', type: 'number' }) %>
    <%- include('../partials/form-group', { label: 'image_url', type: 'text' }) %>
    <div class="form-group">
      <label for="description">description:</label>
      <textarea type="text" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Add Book" />
    </div>
  </form>
</body>
</html>