<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav'); %>
  <div class="book-header">
    <% if (newBook) { %>
      <div class="new-alert">Your Book Has Been Added</div>
    <% } %>
    <%- include('../partials/book-header', { book: book }); %>
    <p class="book-description"><%= book.description %></p>
    <h6><%= book.isbn %></h6>
    <div>
      <a href="/addbook/<%= book.id %>">Edit Book Details</a>
      <form action="/books/<%= book.id %>" method="POST" class="hidden-form">
        <input type="hidden" name="_method" value="DELETE" />
        <button>Delete From Collection</button>
      </form>
    </div>
  </div>
</body>
</html>